@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#center-section{
    width: 54%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
}
.center-desc{
    margin-right: 4rem;
}
.last-desc{
    display: none;
}
.center-items{
    list-style-type: none;
    margin-bottom: 1rem;
}
.center-items span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #ddd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.center-items strong{
    font-size: 18px;
    color: #b1aeae;
}
.title_btn{
    width: 200px;
    margin-top: 1.5rem;
    margin-left: 3%;
    padding: 1rem 0.8rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: #313131;
    font-size: 17px;
}
.title_btn-2{
    opacity: 0;
}
.submit-blog .title{
    font-size: 17px;
    color: #333;
}
.change-group{
    display: flex;
}
.count.active{
    background-color: #024ead;
}
.desc.active{
    color: #333;
}